NET "button1" LOC = P66 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button2" LOC = P67 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button3" LOC = P74 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button4" LOC = P75 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button5" LOC = P82 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button6" LOC = P83 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button7" LOC = P84 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button8" LOC = P85 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button9" LOC = P94 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button10" LOC = P95 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button11" LOC = P97 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button12" LOC = P98 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button13" LOC = P104 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button14" LOC = P105 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button15" LOC = P111 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button16" LOC = P112 | IOSTANDARD = LVTTL | PULLDOWN;