NET "button1" LOC = P66;
NET "button1" IOSTANDARD = LVTTL;
NET "button1" PULLDOWN;
NET "button2" LOC = P67;
NET "button2" IOSTANDARD = LVTTL;
NET "button2" PULLDOWN;
NET "button3" LOC = P74;
NET "button3" IOSTANDARD = LVTTL;
NET "button3" PULLDOWN;
NET "button4" LOC = P75;
NET "button4" IOSTANDARD = LVTTL;
NET "button4" PULLDOWN;
NET "button5" LOC = P82;
NET "button5" IOSTANDARD = LVTTL;
NET "button5" PULLDOWN;
NET "button6" LOC = P83;
NET "button6" IOSTANDARD = LVTTL;
NET "button6" PULLDOWN;
NET "button7" LOC = P84;
NET "button7" IOSTANDARD = LVTTL;
NET "button7" PULLDOWN;
NET "button8" LOC = P85;
NET "button8" IOSTANDARD = LVTTL;
NET "button8" PULLDOWN;
NET "button9" LOC = P94;
NET "button9" IOSTANDARD = LVTTL;
NET "button9" PULLDOWN;
NET "button10" LOC = P95;
NET "button10" IOSTANDARD = LVTTL;
NET "button10" PULLDOWN;
NET "button11" LOC = P97;
NET "button11" IOSTANDARD = LVTTL;
NET "button11" PULLDOWN;
NET "button12" LOC = P98;
NET "button12" IOSTANDARD = LVTTL;
NET "button12" PULLDOWN;
NET "button13" LOC = P104;
NET "button13" IOSTANDARD = LVTTL;
NET "button13" PULLDOWN;
NET "button14" LOC = P105;
NET "button14" IOSTANDARD = LVTTL;
NET "button14" PULLDOWN;
NET "button15" LOC = P111;
NET "button15" IOSTANDARD = LVTTL;
NET "button15" PULLDOWN;
NET "button16" LOC = P112;
NET "button16" IOSTANDARD = LVTTL;
NET "button16" PULLDOWN;
