NET "button0" LOC = P66 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button1" LOC = P67 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button2" LOC = P74 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button3" LOC = P75 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button4" LOC = P82 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button5" LOC = P83 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button6" LOC = P84 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button7" LOC = P85 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button8" LOC = P94 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button9" LOC = P95 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button10" LOC = P97 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button11" LOC = P98 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button12" LOC = P104 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button13" LOC = P105 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button14" LOC = P111 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button15" LOC = P112 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonS0" LOC = P114 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonS1" LOC = P115 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonS2" LOC = P116 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonS3" LOC = P117 | IOSTANDARD = LVTTL | PULLDOWN;
NET "led0" LOC = P50 | IOSTANDARD = LVTTL | PULLUP;
NET "led1" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "led2" LOC = P40 | IOSTANDARD = LVTTL | PULLUP;
NET "led3" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "led4" LOC = P34 | IOSTANDARD = LVTTL | PULLUP;
NET "led5" LOC = P35 | IOSTANDARD = LVTTL | PULLUP;
NET "led6" LOC = P32 | IOSTANDARD = LVTTL | PULLUP;
NET "led7" LOC = P33 | IOSTANDARD = LVTTL | PULLUP;
NET "led8" LOC = P29 | IOSTANDARD = LVTTL | PULLUP;
NET "led9" LOC = P30 | IOSTANDARD = LVTTL | PULLUP;
NET "led10" LOC = P26 | IOSTANDARD = LVTTL | PULLUP;
NET "led11" LOC = P27 | IOSTANDARD = LVTTL | PULLUP;
NET "led12" LOC = P23 | IOSTANDARD = LVTTL | PULLUP;
NET "led13" LOC = P24 | IOSTANDARD = LVTTL | PULLUP;
NET "led14" LOC = P21 | IOSTANDARD = LVTTL | PULLUP;
NET "led15" LOC = P22 | IOSTANDARD = LVTTL | PULLUP;